.divSidebar {
  width: 14rem;
  height: calc(100vh);
  border-right: 1px solid gray;
  background-color: #283c63;
  padding-top: 20px;
  display: flex;
}
.divSidebar ul {
  list-style: none;
  padding: 1rem 2rem;
}
.divSidebar li {
  margin-bottom: 1rem;
}
.divSidebar a {
  text-decoration: none;
}
