@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

.general {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 120px;
}

/* .cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  margin-top: 170px;
  margin-left: 400px;
}
h1 {
  width: 100%;
  margin-bottom: 0.5rem;
  color: #009949;
  font-family: "Work Sans", sans-serif;
}
.cardsGeneral {
  display: inline;
  width: 20%;
  height: 9rem;
  background-color: rgb(182, 179, 185);
  text-align: center;
  padding-top: 3.5rem;
  text-decoration: none;
}
h3 {
  font-size: 0.8rem;
  font-weight: 700;
  color: black;
  font-family: "Work Sans", sans-serif;
  text-align: center;
} */
