@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
.general {
  width: 100%;
  min-height: 100vh;
  margin-top: 100px;
}
.card {
  width: 80%;

  margin: 0 auto;
  padding-bottom: 20px;
  display: grid;
  gap: 3rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.cardTitle {
  color: black;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.cardBody {
  width: 75%;
  background-color: rgb(101, 147, 245);
  height: 150px;
}
.cardName {
  font-size: 18px;
  margin: 0 auto;
}
.cardName h3 {
}
