@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  gap: 4rem;
  flex-wrap: wrap;
  /* provisional changes */
  margin-top: 170px;
  margin-left: 400px;
}
h1 {
  width: 100%;
  margin-bottom: 0.5rem;
  color: #009949;
  font-family: "Work Sans", sans-serif;
}
.cardsGeneral {
  display: inline;
  width: 20%;
  height: 10rem;
  background-color: rgb(182, 179, 185);
  text-align: center;
  padding-top: 3.5rem;
  text-decoration: none;
}
h3 {
  font-size: 1rem;
  font-weight: 700;
  color: black;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}
