.general {
  width: 100%;
  min-height: 100vh;
}
.cardHeader {
  margin: auto;
  width: 100%;
  padding-top: 30px;
  padding-left: 60px;
  color: black;
}
.cardHeader {
  text-align: center;
}
.profBtn button {
  margin-left: 60px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
}
.profBtn button i {
  font-size: 3.5rem;
  color: tomato;
}
.profBtn button i:hover {
  color: #076b72;
}
