@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

.divProf {
  width: 100%;
  margin: auto;
  min-height: 100vh;
}
.profBtn button {
  margin-left: 60px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
}
.profBtn button i {
  font-size: 3.5rem;
  color: rgb(0, 0, 0);
}
.profBtn button i:hover {
  color: #4a0876;
}
.divCards {
  width: 90%;
  display: flex;
  flex-direction: column;
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 30px;
  margin-left: 80px;
}
.profCard {
  width: 25%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(156, 156, 156, 0.836);
  backdrop-filter: blur(4px);
  z-index: 1;
  box-shadow: 0 5px 90px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  overflow: hidden;
  transition: top 0.3s, z-index 0s, transform 0.3s;
  transition-delay: 0.3s, 0.3s, 0s;
}
.profCard:hover {
  transition-delay: 0s, 0.5s, 0.5s;
  top: 50px;
  transform: translateY(-50px);
  z-index: 11;
}
.profCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(900px);
  transition: 2s;
}
.profCard:hover:before {
  transform: skewX(45deg) translateX(-400px);
}
.profName {
  text-align: center;
  font-size: 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: black;
  margin-top: 20px;
}
.link {
  text-decoration: none;
}
.profImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 60%;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.profRating {
  margin-left: 20px;
  display: flex;
}
.description {
  padding-left: 20px;
  font-size: 20px;
}
.profDescrip {
  padding-left: 20px;
  width: 90%;
  overflow: hidden;
}
.divBtn button {
  border: 0;
  padding: 10px;
  background-color: tomato;
  border-radius: 10px;
}
.btn {
  width: 70%;
  margin-left: 35px;
  margin-bottom: 20px;
}
.btn:hover {
  font-size: 27px;
  color: rgb(240, 235, 245);
  background-color: #4444d1e7;
  border-color: rgb(240, 235, 245);
}
.orderNameRating {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.divTitleOrder {
  display: inline-block;
}

.divNameRating {
  display: flex;
}
.divTitleOrder {
  font-weight: 700;
}

.divName {
  display: flex;
  font-weight: 700;
}
.divRating {
  display: flex;
  font-weight: 700;
}
.select {
  background-color: #283c63;
  width: 200px;
  height: 28px;
  border: 1px solid white;
  color: white;
  font-size: 15px;
  border-radius: 10px;
}
.selects {
  background-color: #283c63;
  width: 100px;
  height: 28px;
  color: white;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 10px;
}

.notProf {
  color: rgba(255, 255, 255, 0.671);
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  min-height: 50vh;
}
