@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    /* gap: 2rem;
    flex-wrap:wrap; */
    /* provisional changes */
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 166px;
    margin-left: 150px;
    margin-right: -606px;
  }
h1 {
  width: 100%;
  margin-bottom: 0.5rem;
  color: #050505;
  font-family: "Work Sans", sans-serif;
}
.cardsGeneral {
  display:block;
  width: 20%;
  height: 50rem;
  color: rgb(238, 238, 238);
 
  text-align: center;
  /* padding-top: 0.1rem; */
    padding: 0 1.4rem 0;
  text-decoration: none;
  border-radius: 2rem;
  border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    z-index: 1;
    box-shadow: 0 5px 90px rgba(0,0,0,0.1);
    text-decoration: none;
    overflow: hidden;
    transition: top 0.3s, z-index 0s, transform 0.3s;
    transition-delay: 0.3s, 0.3s, 0s;

  
}

.cardsGeneral:hover{
    transition-delay: 0s, 0.5s, 0.5s;
    top: 50px;
    transform: translateY(-50px);
    z-index: 11;
}
.cardsGeneral::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(900px);
    transition: 2s;
}
.cardsGeneral:hover:before {
    transform: skewX(45deg) translateX(-400px);
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  color: black;
  font-family: "Work Sans", sans-serif;
  text-align:justify;
  
}

.cardsGeneral img{
    border-radius: 20%;
    width: 100%;
    height: 120%;
    margin-right: 1.5rem;
    align-items: center;
    display: block;
}

.description{
    color: black;
}
