@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

.divAllProfessionals {
  width: 100%;
  min-height: 100vh;
}
.profBtn button {
  margin-left: 60px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
}
.profBtn button i {
  font-size: 3.5rem;
  color: tomato;
}
.profBtn button i:hover {
  color: #076b72;
}

.containerCard {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.profContainer {
  width: 90%;
  display: grid;
  flex-direction: row;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin: auto;
}
.profCard {
  background-color: rgba(180, 176, 176, 0.836);
  width: 80%;
  border-radius: 10%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
  transition: all 400ms ease;
  margin-bottom: 50px;
}
.profCard:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
  transform: translateY(-3%);
}
.link {
  text-decoration: none;
}
.profName {
  text-align: center;
  color: black;
  font-size: 25px;
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}
.profImg {
  justify-content: center;
  align-items: center;
  margin: auto;
}
.img {
  width: 60%;
  height: 200px;
  border-radius: 10px;
  margin-left: 55px;
  margin-bottom: 20px;
}
.profRating {
  margin-top: 20px;
  margin-left: 20px;
}
.description {
  font-size: 20px;
  margin-left: 20px;
}
.profDescrip {
  margin-left: 20px;
  width: 90%;
  overflow: hidden;
}
.divBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
}
.btn {
  border: 0;
  padding: 10px;
  font-size: 20px;
  background-color: tomato;
  width: 60%;
}
.btn:hover {
  font-size: 25px;
  color: rgb(240, 235, 245);
  background-color: #076b72;
  border-color: rgb(240, 235, 245);
}
.divLoading {
  width: 100%;
}
.loading {
  justify-content: center;
  text-align: center;
  padding-left: 470px;
  padding-top: 100px;
}
