.divProfessional {
  width: 100vw;
  min-height: 100vh;
  color: black;
}
.profBtn button {
  margin-left: 60px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
}
.profBtn button i {
  font-size: 3.5rem;
  color: rgb(0, 0, 0);
}
.profBtn button i:hover {
  color: #4a0876;
}
.divDet {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.profImg {
  display: flex;
}
.img {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 600px;
  border-radius: 20px;
}
.twoContainer {
  width: 100%;
  margin-left: 40px;
  height: 50%;
}
.detName {
  color: #1f1f1f;
  margin-left: 30px;
  margin-bottom: 20px;
}
.detText {
  font-size: 20px;
}
.detSpan {
  font-size: 15px;
}
.divBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
  margin-top: 30px;
}
.btn {
  border: 0;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  width: 35%;
  border-radius: 10px;
}
.btn:hover {
  font-size: 25px;
  color: #4a0876;
  background-color: #1f1f1f;
  border-color: #4a0876;
}
.divLoading {
  width: 100%;
}
.loading {
  justify-content: center;
  text-align: center;
  padding-left: 470px;
  padding-top: 100px;
}

.divReview {
  margin-top: 30px;
  padding-bottom: 20px;
  background-color: #adb9d3;
  border: 2px solid #1f1f1f;
}

.box {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem #00000025 inset;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
