.wrapper{
  display: flex;
  flex-wrap: wrap;
}
.containerOne{
  width: 100vw;
  display: flex;
  height: 90vh ;
}

.left{
  width: 35vw;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 3px solid black;
  background: #f4a26195;
  border-radius: 30px;
  margin-top:30vh;
  margin-left: 10vw;

}
.text{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.7vw;
  line-height: 6vh;
  color: #068945;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  word-spacing: .2vw;
 justify-content: center;
 text-align: center;
}

.search{
  margin-top: -5vh;
  position: relative; 
 margin-left: 4.5vw;
}

.right{
  position: relative;
  margin-left: 20vw;
  margin-top: 20vh;
}
.right img {
  width: 20vw;
  height: 25vw;
  border: solid black;
  border-radius: 49px;
}

.profesionalName{
  margin-top: 2vh;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 18px;
  color: #009949;

}

.stars{
  display: flex;
  margin-top: .5vh;
  font-size: .8vw;

  
}

.containerTwo{
  position: relative;
  width: 100vw;
  height: 80vh;

}

.catGeneral {
  width: 100%;
  height: 80vh;

}
.card {
  width: 80%;
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: grid;
  gap: 3rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.cardTitle {
  color: black;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.cardBody {
  width: 75%;
  background-color: rgb(177, 178, 180);
  height: 150px;
  border-radius: 10px;
}
.cardHeader {
  margin: auto;
  width: 100%;
  padding-top: 30px;
  padding-left: 60px;
  color: black;
}

.cardLink {
  text-decoration: none;
}
.cardName {
  font-size: 18px;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 50px;
  font-weight: 700;
}
.cardName h3 {
  text-align: center;
}

.divFooter_Home {
  margin-top: 40vw;
  position: relative;
}
.cardName {
  color: black;
}
.profCard {
  background-color: rgba(180, 176, 176, 0.836);
  width: 20%;
  border-radius: 10%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
  transition: all 400ms ease;
  margin-bottom: 50px;
}
.profCard:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
  transform: translateY(-3%);
}
.link {
  text-decoration: none;
}
.profName {
  text-align: center;
  color: black;
  font-size: 25px;
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}
.profImg {
  justify-content: center;
  align-items: center;
  margin: auto;
}
.img {
  width: 60%;
  height: 200px;
  border-radius: 10px;
  margin-left: 55px;
  margin-bottom: 20px;
}
.profRating {
  margin-top: 20px;
  margin-left: 20px;
}
.description {
  font-size: 20px;
  margin-left: 20px;
}
.profDescrip {
  margin-left: 20px;
}
.divBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
}
.btn {
  border: 0;
  padding: 10px;
  font-size: 20px;
  background-color: tomato;
  width: 60%;
}
.btn:hover {
  font-size: 25px;
  color: rgb(240, 235, 245);
  background-color: #076b72;
  border-color: rgb(240, 235, 245);
}
.containerThree{
  width: 100vw;
  height: 20vh;
}