@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
.faqs {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #1f1f1f;
}
.imgFaqs {
  margin: auto;
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
}
