@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
.faqs {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 
/* h2 {
  padding-top: 6rem;
  text-align: center;
  color: #009949;
  font-size: 40px;
  font-weight: 700;
  font-weight: 700;
}

h4 {
  margin-left: 10rem;
  font-size: 20px;
}


.faqMain {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 10px;
}
.faqMain p {
  width: 9rem;
  height: 11rem;
  height: 11rem;
  text-align: center;
  padding-top: 2.5rem;
  margin-left: 3.5rem;
  font-size: 18px;
  background-color: #435d92;
  color: white;
  border-radius: 10px;
}
.faqSeccion {
  margin-left: 20px;
  padding-bottom: 30px;
  font-size: 18px;
} */
