.containerform {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: linear-gradient(to left, #1b1b6e 0%, #232f49 50%);
  padding: 5%;

    font-family: "Work Sans";
    font-weight: 400;
    font-size: 1.5vw;
    color: #fbe8d3;
}
.h1form{
    color: #c8e7ff;
    font-family: "Cinzel";
    font-weight: 400;
    font-size: 3vw;

}

.h6form{
    color: white
}

.Formprofessional {
    width: 60%;
    height: 100%;
    border-radius: 5px;
}

.field{
    border-radius: 7px;
    width:80%;
    margin-bottom: 3vh;
     
}

.fieldProf{
    width:35%;
    margin-left:1.5vh ;
    margin-right: 1.5vh;
    margin-bottom: 3vh;
    text-align: center;
    border-radius: 7px;
}

.fieldTown{
    width:25%;
    margin-left:1.5vh ;
    margin-right: 1.5vh;
    margin-bottom: 3vh;
    text-align: center;
    border-radius: 7px;
}

.divphone{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.fieldImg{
    border-radius: 7px;
    width:70%;
    margin-bottom: 1.5vh;
}


.textareaform{
    width: 80%;
    height: 20vh;
    border-radius: 7px;

}

.Buttonsend {
    background-color: #faf8f8;
    border-color: #fff;
    border-radius: 7px;
    color: rgb(2, 2, 2);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.Buttonsend:hover {
    background-color: #889288; /* Green */
    color: rgb(0, 0, 0);
}


