/* .container{ 
    display: flex;
    width: 70vw;
    height: 50vh;

}
.images{
    display: flex;
    width: 70vw;
    height: 50vh;
    margin-top: 30vh;

}
.types{
    display: flex; 
    flex-wrap: wrap;
    width: 33.33%;
    text-align:  center;
    align-items: center;
}

.types img{
   width: 60%; 
   height: 30vh ;
   border-radius: 50% ;
   margin-left: 7vw; 
}
.types h2{
    display: flex;
    width: 100%;
    font-size: 1.2vw;
    text-align: center;
   justify-content: center;

}

.btn{
   
    background-color:  green; 
    color:  white; 
    padding:  10px 20px; 
    border:  none; 
    border-radius:5px; 
    text-align:  center; 
    margin-top:  10px;
    margin-left: 13vw; 

}
 */
