.specific {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}
.cardSubCat {
  width: 80%;
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: grid;
  gap: 3rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.cardSub h1 {
  color: black;
  text-align: left;
}
.divSpecific {
  display: inline;
  width: 75%;
  height: 10rem;
  background-color: rgb(182, 179, 185);
  text-align: center;
  padding-top: 3.5rem;
  text-decoration: none;
  border-radius: 10px;
}
.divSpecific h3 {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: black;
}
