.specific {
  width: 100%;
  min-height: 100vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}
.profBtn button {
  margin-left: 60px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
}
.profBtn button i {
  font-size: 3.5rem;
  color: tomato;
}
.profBtn button i:hover {
  color: #076b72;
}
.cardSub h1 {
  color: black;
  text-align: center;
}
.cardSubCat {
  width: 80%;
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: grid;
  gap: 3rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.divSpecific {
  display: inline;
  width: 75%;
  height: 10rem;
  background-color: rgb(182, 179, 185);
  text-align: center;
  padding-top: 3.5rem;
  text-decoration: none;
  border-radius: 10px;
}
.divSpecific h3 {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: black;
}
