.specific {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 4rem;
    flex-wrap: wrap;
  }
  .divSpecific {
    display: inline;
    width: 20%;
    height: 10rem;
    background-color: rgb(182, 179, 185);
    text-align: center;
    padding-top: 3.5rem;
    text-decoration: none;
  }
  h3 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: black;
  }