.input {
    width: 400px;
    height: 36px;
    color: black;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    background-color: white;
    border: solid black 2px;
}
.but{
    position: absolute;
  width: 95px;
  height: 36px;
  left: 400px;
  top: 0.4px;
  align-items: center;
text-align: center;
  background: #009949;
  text-transform: uppercase;
  color: black;
  border: solid black 2px;
}