.wrapper{
    width: 100%;
    height: 100vh;
}

.containerOne{
    /* position: relative; */
    width: 100%; /*1440*/
    height: 1024px;
    background: #283C63;
    
}

/* .landingNav{
    border: 5px solid #FF7069;
    position: sticky ;
    display: flex;
    left: 180px;
    width: 80%;
    height: 28px;
    top: 73px;
        
} */

.logo{
margin: 73px  70px 100px 180px;
font-family: 'Cinzel';
font-weight: 700;
font-size: 34px;
color: #FBE8D3;

}

.linkNav{
    
    margin: 73px 50px 100px 0px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FBE8D3;
    
}
.linkNav:nth-child(4){
    margin-left: 350px; 
}

.left{
    position: absolute;
    width: 53%;
    height: 48%;
    left: 135px;
    top: 201px;

}

.left h1 {
    
    width: 770px;
    height: 318px;
    left: 135px;
    top: 201px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 110%;
    color: #FBE8D3;
}

.left h1 span {
    color: #FF7069;
}

.left p{
    width: 570px;
    height: 56px;
    left: 135px;
    top: 543px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #928A97; 
} 

.border{
    
    width: 170px;
    height: 53px;
    margin: 50px 100px 0px 250px;
    background: #FF7069;
}

.button{
width: 138px;
height: 23px;
font-family: 'Work Sans';
font-weight: 400;
font-size: 20px;
color: #FBE8D3;

}

.right{
position: absolute;
width: 512.38px;
height: 674px;
left: 905px;
top: 201px;
}

img {
width: 272px;
height: 231px;
left: 905px;
top: 201px;
border-radius: 45px;
}

/* img:nth-child(1){
    background-image: url(../../assets/carpintero.jpg);
    opacity: 0.7;
}


/* img:nth-child(2){
    background-image: url(../../assets/code.jpg);
    opacity: 0.7;
} */

.right img:nth-child(2){
   margin-left: 250px;
} 

.containerTwo{
    border:5px solid #FF7069;
}
.title{

width: 500px;
height: 38px;
left: 574px;
top: 117px;
bottom: 300px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
/* identical to box height */

text-transform: uppercase;

color: #000000;
}

.rights{
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 20px;
    color: #000000;  
}
