.divTeam {
  background: #686868;
  width: 100%;
  min-height: 100vh;
}
.container {
  width: 100%;
  display: flex;
  grid-row-gap: 100px 100px 100px 100px;
  flex-wrap: wrap;
  padding: 55px 32px 119px 55px;
  grid-column: auto;
  justify-content: center;
  align-items: center;
  /* background:linear-gradient(to left, #FF7069 0%,  #283C63 100%);     */
  background: #686868;
}
.profBtn button {
  margin-left: 60px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
}
.profBtn button i {
  font-size: 3.5rem;
  color: tomato;
}
.profBtn button i:hover {
  color: #076b72;
}
.card {
  /* display: grid;
    grid-row-gap: 1em;
    background: #5f616d;
    border-radius: 8px;
    padding: 1.7em;
    border: 2px solid red;
    width: 33%;
    margin: 50px 180px 20px 180px; */

  display: flex;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  /* margin-bottom: 10px 30px 55px 30px; */
  color: #fff;
  width: 500px;
  height: 350px;
  margin-bottom: 20px;
  box-sizing: border-box;
  /* border: solid 2px #fff; */
  cursor: pointer;

  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  padding: 8px 23px 11px 11px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  margin: 30px 30px 30px 30px;

  display: flex;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  /* margin-bottom: 10px 30px 55px 30px; */
  color: #fff;
  width: 500px;
  height: 350px;
  margin-bottom: 20px;
  box-sizing: border-box;
  /* border: solid 2px #fff; */
  cursor: pointer;

  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  padding: 8px 23px 11px 11px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  margin: 30px 30px 30px 30px;
}

.card:hover {
  transform: scale(1.1) translateY(-2.5%);
  box-shadow: 0 4rem 8rem rgba(248, 248, 248, 0.555);
}

.card img {
  border-radius: 37%;
  width: 46%;
  height: 71%;
  margin: 20px 34px 18px 15px;
  border: solid 4px #fff;
}

.card h1 {
  display: flex;
  text-align: center;
  margin: 12px 0px 17px -8px;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.253);
  color: rgb(255, 255, 255);
}
.card p {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card img {
  border-radius: 37%;
  width: 46%;
  height: 71%;
  margin: 20px 34px 18px 15px;
  border: solid 4px #fff;
}

.card h1 {
  display: flex;
  text-align: center;
  margin: 12px 0px 17px -8px;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.253);
  color: rgb(255, 255, 255);
}
.card p {
  display: flex;
  justify-content: center;
  text-align: center;
}
