.BigContainer_About {
  margin-top: 85px;
  margin-left: 470px;
  /* border: 2px solid black; */
  padding: 10px;
}

.About_About {
  font-size: 50px;
  margin-left: 260px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #009949;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.img_About {
  width: 500px;
  height: 300px;
  margin-top: 50px;
  margin-left: 270px;
  margin-bottom: 50px;
}

.Footer_About {
  padding-top: 100px;
}

.Text_About {
  margin-top: 30px;
}
