.BigContainer_NavBar {
  position: absolute;
  height: 84px;
  left: 0px;
  right: 0px;
  top: 0px;

  background: #f4a261;
  /* opacity: 0.6; */
}

.Container_NavBar {
  position: absolute;
  width: 1440px;
  height: 84px;
  left: 0px;
  top: 0px;
}

.Menu_NavBar {
  position: absolute;
  width: 35px;
  height: 34px;
  left: 1800px;
  top: 25px;
}

.Join_NavBar {
  position: absolute;
  width: 37px;
  height: 21px;
  top: 33px;
  left: 1720px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #009949;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.SignIn_NavBar {
  position: absolute;
  width: 60px;
  height: 21px;
  top: 33px;
  left: 1620px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #009949;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.HMS_NavBar {
  position: absolute;
  width: 151px;
  height: 28px;
  top: 29px;
  left: 105px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 28px;

  color: #009949;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Categories_NavBar {
  position: absolute;
  left: 320px;
  top: 33px;
  width: 93px;
  height: 21px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #009949;
}

.AboutUs_NavBar {
  position: absolute;
  width: 80px;
  height: 21px;
  top: 33px;
  left: 457px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #009949;
}

.FAQs_NavBar {
  position: absolute;
  width: 45px;
  height: 21px;
  top: 33px;
  left: 581px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #009949;
}
